.page-header {
    border-bottom: 1px solid #eee;
    margin: 15px 0 20px;
    padding-bottom: 15px;
}

.sidebar {
    width: 150px;
}

#page-wrapper {
    margin: 0 0 0 150px;
}

.chat-panel .panel-body {
  overflow-y: scroll;
  height: auto;
}

.ul.tokens-token-list, div.tokens-suggestion-selector{
	font-size: 14px;
	color: #000000;
}

div.tokens-suggestion-selector p {
    font-weight: normal;
}
ul.tokens-token-list {
    background: #ffffff none repeat scroll 0 0;
    width: 100%;
}

div.tokens-suggestion-selector ul li.tokens-highlighted-suggestion {
    background: #d9edf7 none repeat scroll 0 0;
}

div.tokens-suggestion-selector {
    background: #ffffff none repeat scroll 0 0;
}

ul.tokens-token-list, div.tokens-suggestion-selector {
    font-size: 14px;
}

ul.tokens-token-list .tokens-input-text{
	color: #000000;
}

ul.tokens-token-list .tokens-list-token-holder{
	color: #ffffff;
}

ul.tokens-token-list .tokens-list-token-holder {
    font-size: 14px;
    font-weight: 400;
}

.tokens-input-text {
	width: 100%;
}

body {
    font-family: "San Francisco Text",sans-serif;
    font-size: 13px;
}

#main-form{
	min-height: 800px;
}

.chat li.left .chat-body {
	margin-left: 0px;
}

.chat li.right .chat-body {
	margin-right: 0px;
	}
	
.box{
	min-height: 300px;
	max-height: 300px;
	overflow-x: scroll;
}

.fb-edit-field-wrapper .fb-field-label .field-type .fb-main{
    font-family: "San Francisco Text",sans-serif;
}
.btn{
	text-transform: uppercase;
	font-size: 12px;
}
.component-form{
	display: inline-block; 
	width: auto; 
	display: -moz-stack;
	min-width: 250px;
}

.component-form-button{
	display: inline-block;
	display: -moz-stack;
	width: auto; 
	padding: 0 5px;
}

.form-auto-generate {
    padding-left: 20px;
    padding-right: 20px;
}

/* Css for table form auto generation  */

.form-auto-generate table {
    width: 100%;
}
.field-required {
    color: red;
}
.form-auto-generate {
}
.form-auto-generate td {
    line-height: 1.42857;
    padding: 8px;
}
.form-auto-generate h4 {
    border-bottom: 1px solid #1abc9c;
    color: #1abc9c;
    font-weight: bold;
    padding-bottom: 5px;
}
.form-auto-generate h3 {
    color: #1abc9c;
    font-weight: bold;
}
.form-auto-generate input[type="text"], input[type="number"], input[type="email"], textarea {
    width: 100%;
}
.form-auto-generate input[type="checkbox"] {
    margin-right: 5px;
}
.form-auto-generate input[type="radio"] {
    margin-right: 5px;
}

.img-data {
    padding-bottom: 5px;
    padding-top: 5px;
}
.img-data > span {
    display: inline-block;
    padding-left: 10px;
}
.img-data > span:hover {
    cursor: zoom-out;
    text-decoration: underline;
    font-weight: bold;
}

.select-file{
	margin-left: 20px;
}

.image-select{
	border: 1px solid #e7e7e7; 
	width: 100px; 
	height: auto;
}

.image-select:hover{
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}

.form-review .modal-body {
    max-height: 450px;
    overflow-x: scroll;
}
.form-review {
    max-width: 800px;
    width: 80%;
}