.page-header {
    border-bottom: 1px solid #eee;
    margin: 15px 0 20px;
    padding-bottom: 15px;
}

.sidebar {
    width: 150px;
}

#page-wrapper {
    margin: 0 0 0 150px;
}

.chat-panel .panel-body {
  overflow-y: scroll;
  height: auto;
}